<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goject - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="nav-bar">
        <a id="logo" href="/">Goject</a>
    </div>
    <div class="main-div">
        <div class="container-login">
            <div>
                <form class="goject-form" id="login">
                    <div class="txt-input">
                        <input type="text" name="email" id="email" placeholder="Email" required="required">
                    </div>
                    <div class="txt-input">
                        <input type="text" name="password" id="password" placeholder="Password" required="required">
                    </div>
                    <div class="new-account">
                        <a href="/create-user">Click here to create a new account</a>
                    </div>
                    <div class="btn-goject">
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>