<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goject - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/register.css">
</head>
<body>
    <div class="nav-bar">
        <a id="logo" href="/">Goject</a>
    </div>
    <div class="main-div">
        <div class="container-login">
            <div>
                <form class="goject-form" id="register-form">
                    <div class="txt-input">
                        <input type="text" name="name" id="name" placeholder="Name" required="required">
                    </div>
                    <div class="txt-input">
                        <input type="text" name="email" id="email" placeholder="Email" required="required">
                    </div>
                    <div class="txt-input">
                        <input type="text" name="nick" id="nick" placeholder="Nick" required="required">
                    </div>
                    <div class="txt-input">
                        <input type="text" name="password" id="password" placeholder="Password" required="required">
                    </div>
                    <div class="txt-input">
                        <input type="text" name="confirm-password" id="confirm-password" placeholder="Confirm your Password" required="required">
                    </div>
                    <div class="new-account">
                        <a href="/login">Click here to Login</a>
                    </div>
                    <div class="btn-goject">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/cadastro.js"></script>
</body>
</html>